<!DOCTYPE html>
<!-- build:[manifest] index.min.appcache -->
<html lang="en" ng-app="myApp" ng-strict-di>
<!-- /build -->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>MAHJONG</title>
  <meta name="description" content="Mahjonge game">
  <link rel="shortcut icon"type="image/x-icon" href="data:image/x-icon;,"><!-- Suppress browser request for favicon.ico -->

  <!-- To ensure CSS files are downloaded in parallel, always include external CSS before external JavaScript. -->
  <!-- build:[href] css/everything.min.css -->
  <link rel="stylesheet" type="text/css" href="css/game.css">
  <!-- /build -->
  <link crossorigin="anonymous" rel="stylesheet" type="text/css" href="http://yoav-zibin.github.io/emulator/main.css">

  <!-- build:[href] css/bootstrap.min.css -->
  <link crossorigin="anonymous" rel="stylesheet" href="css/bootstrap.min.css">
  <!-- /build -->

  <!-- The crossorigin attribute controls, for scripts that are obtained from other origins, whether error information will be exposed. -->
  <!-- build:[src] js/angular.min.js -->
  <script crossorigin="anonymous" src="js/angular.min.js"></script>
  <!-- /build -->

  <!-- For the game rules/instructions, I use carousel from Angular UI + Bootstrap -->
  <!-- build:[src] js/angular-touch.min.js -->
  <script crossorigin="anonymous" src="js/angular-touch.min.js"></script>
  <!-- /build -->
  <!-- build:[src] js/ui-bootstrap-tpls.min.js -->
  <script crossorigin="anonymous" src="js/ui-bootstrap-tpls.min.js"></script>
  <!-- /build -->

  <!-- build:[src] http://yoav-zibin.github.io/emulator/dist/turnBasedServices.3.min.js -->
  <script crossorigin="anonymous" src="http://yoav-zibin.github.io/emulator/dist/turnBasedServices.3.js"></script>
  <!-- /build -->

  <!-- build:js js/everything.min.js -->
  <script src="ts_output_readonly_do_NOT_change_manually/src/gameLogic.js"></script>
  <script src="ts_output_readonly_do_NOT_change_manually/src/game.js"></script>
  <script src="ts_output_readonly_do_NOT_change_manually/src/aiService.js"></script>
  <!-- /build -->

  <!-- build:remove -->
  <!-- https://github.com/philipwalton/html-inspector#getting-started -->
  <script src="js/html-inspector.js"></script>
  <!-- /build -->

</head>
<body class="ng-cloak" style="background-color:#309040;">
  
  <!-- Don't need this button anymore
  <div id="e2e_test_open_rules_modal" class="help-tip" ng-click="game.isHelpModalShown = true" aria-hidden="true"></div>
  -->
  
  <div class="overlayModal" ng-click="game.clickedOnModal($event)"
      ng-class="{zeroOpacity: !game.isHelpModalShown, oneOpacity: game.isHelpModalShown}" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" ng-click="game.isHelpModalShown = false" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 id="e2e_test_rules_title" class="modal-title">
            {{ 'RULES_OF_MAHJONG' | translate }}
          </h4>
        </div>
        <div class="modal-body">
          <carousel style="height: 150px">
            <slide>
              <table style="margin: 0 auto;">
                <tr>
                  <td id="e2e_test_rules_slide1_text">
                    {{ 'RULES_SLIDE1' | translate }}
                  </td>
                  
                </tr>
                <tr>
                  <td>
                    <img src="imgs/HelpSlide1.png" alt="Help slide 1" style="height:100px;">
                  </td>
                </tr>
              </table>
            </slide>
            <slide>
              <table style="margin: 0 auto;">
                <tr>
                  <td id="e2e_test_rules_slide2_text">
                  {{ 'RULES_SLIDE2' | translate }}
                  </td>
                  
                </tr>
                <tr>
                  <td>
                    <img src="imgs/HelpSlide2.png" alt="Help slide 2" style="height:100px;">
                  </td>
                 </tr>
              </table>
            </slide>
          </carousel>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" ng-click="game.isHelpModalShown = false">
            {{ 'CLOSE' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>

<div id="gameArea" >
  
  
  <div id="MainArea" ng-init="selection = { selectedNode:  null }"
    style="position:absolute; top:0; left:00%; width:100%; height:100%;">
    <div class="spaceholder"
      style="position:absolute; top:0%; left:0%; width:100%; height:2%;"></div>
    <div id="oppPai"
      style="position:absolute; top:2%; left:0; width:100%; height:15%;">
      
      <div id="oppOpen" class="object"
        style="position:absolute; top:20%; left:0%; width:{{game.opponentOpenLength*7}}%; height:100%; transform: rotate(180deg)">
        <img class="svgclass" ng-repeat="index in game.oppopenindex" id="oppopen{{index}}" 
          height="88%" src="./imgs/{{game.opp.open[index]}}.png" alt="Smiley face"
          >
      </div>
      <!-- Opponent hand while not ended-->
      <div id="oppHand" class="object"
        ng-if="!game.ifEnd"
        style="position:absolute; top:20%; right:0; width:{{game.opponentHandLength*7}}%; height:100%;">
        <img class="svgclass" ng-repeat="index in game.opphandindex" 
          height="88%" ng-src="./imgs/b.png" alt="Smiley face">        
      </div>
      <!-- Opponent hand ended-->
      <div id="oppHand" class="object"
        ng-if="game.ifEnd"
        style="position:absolute; top:20%; right:0; width:{{game.opponentHandLength*7}}%; height:100%;transform: rotate(180deg);">
        <img class="svgclass" ng-repeat="index in game.opphandindex" 
          height="88%" ng-src="./imgs/{{game.ohand[index]}}.png" alt="Smiley face">        
      </div>
      
    </div>   
    <div id="outPai" class="object"
      style="position:absolute; top:25%; left:10%; width:80%; height:45%;">
      <img class="svgclass" ng-repeat="index in game.outindex" id="out{{index}}" 
          height="18%" ng-src="./imgs/{{game.state.board.out[index]}}.png" alt="Smiley face">
    </div>
    <div id="Option"
      style="position:absolute; top:64%; left:0; width:100%; height:12%;">
      <div class="space_holder" 
        style="position:absolute; top:0%; left:0; width:30%; height:100%;">
      </div>
      <div class="object"
        style="position:absolute; top:0%; left:30%; width:70%; height:100%;">
        <img class="svgclass" ng-repeat="index in [0, 1, 2, 3, 4, 5, 6]" ng-if="game.ifLegalMove(index)" 
          src="./imgs/00{{index+1}}.png" 
          alt="Smiley face"
          ng-click="selection.selectedNode = -1; game.optionClicked(index)"
          style="position:absolute; top:0%; right:{{(6-index)*15}}%; height:100%;">
      </div>
    </div>
    
    
    <div id="playerPai" class="object"
      style="position:absolute; top:80%; left:0; width:100%; height:15%;">
      <div id="palyerOpen"
        style="position:absolute; top:20%; left:0%; width:{{game.playerOpenLength*7}}%; height:100%;">
        <img class="svgclass" ng-repeat="index in game.openindex" id="playeropen{{index}}" 
          height="100%" ng-src="./imgs/{{game.player.open[index]}}.png" alt="Smiley face"
          >
      </div>
      <div id="palyerHand" class="object" 
        style="position:absolute; top:20%; right:0; width:{{game.playerHandLength*7}}%; height:100%;">
        <img class="svgclass"
           ng-repeat="index in game.handindex" id="playerhand{{index}}" 
           ng-src="./imgs/{{game.chand[index]}}.png" alt="Smiley face"
           ng-click="selection.selectedNode = index; game.paiClicked(index)"
           ng-class="{contrast:selection.selectedNode == index}"
           height="100%">
         
      </div>
    </div>
  </div>
  
 

</div>
</body>
</html>
